* {
    box-sizing: border-box;
}

body {
    background-color: rgba(5, 40, 71, 0.712);
}

header {
    background-color: aliceblue;
}

header .home {
    color: rgba(3, 30, 54, 0.774);
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;

}

#user-form {
    background-color: aliceblue;
}

.results {
    background-color: aliceblue;
}

.results h2 {
    color: rgba(3, 30, 54, 0.774);
    font-family: 'Times New Roman', Times, serif;
}